<div ng-controller="SelectCtrl as select">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Select Application</h3>
    </div>
    <div class="panel-body select">
      <form>
        <div class="col-sm-3">
          <label>Application Type</label>
          <select class="form-control" ng-model="select.apptype" ng-change="select.onApptypeChange()"
                  ng-options="apptype as apptype.label for apptype in select.apptypeList">
            <option value="">All types</option>
          </select>
        </div>
        <div class="col-sm-3">
          <label>Street</label>
          <select class="form-control" ng-model="select.street" ng-change="select.onStreetChange()"
                  ng-options="street as street.name for street in select.streetList">
            <option value="">All streets</option>
          </select>
        </div>
        <div class="col-sm-2">
          <label>Number</label>
          <select class="form-control" ng-model="select.number" ng-disabled="select.numberList.length<2"
                  ng-change="select.onNumberChange()"
                  ng-options="number as number.number for number in select.numberList">
            <option value="">All numbers</option>
          </select>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-xs-4">
              <label>{{select.count}} Record<span ng-show="select.count!==1">s</span></label><br>
              <button ng-click="select.onShowClick()" class="btn btn-sm btn-primary" ng-disabled="select.count<=0">
                <i class="fa fa-download"></i> Show
              </button>
            </div>
            <div class="col-xs-4">
              <label>&nbsp;</label><br>
              <button class="btn btn-sm btn-warning" ng-click="select.onResetClick()">
                <i class="fa fa-undo"></i> Reset
              </button>
            </div>
            <div class="col-xs-4">
              <label>&nbsp;</label><br>
              <button class="btn btn-sm btn-primary" ng-click="" ng-disabled="true">
                <i class="fa fa-sticky-note-o"></i> New
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
